.card {
  background-color: var(--mantine-color-body);
  width: 300px;
  margin: 5%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5%;
  background: #fce8ce80;
  border: rem(2px) solid #f1a02f;
  border: 2px solid #f1a02f;
  border-radius: 10px; /* Adjust for rounded corners */
  padding: 20px;
  padding-bottom: 5px;
  background-color: #fce8ce80;
  box-shadow:
    0 0 2px #f1a02f,
    /* White glow */ 0 0 4px#F1A02F,
    0 0 6px #f1a02f;
  transition: box-shadow 0.3s ease-in-out;
  @media (max-width: $mantine-breakpoint-sm) {
    /* flex-direction: column; */
    width: auto;
    padding: var(--mantine-spacing-xl);
    margin: 5%;

    /* margin: auto; */
  }
}
.card:hover {
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.8),
    /* Brighter white glow on hover */ 0 0 18px rgba(255, 255, 255, 0.6),
    0 0 12px rgba(255, 255, 255, 0.5);
}

.avatar {
  border: rem(2px) solid #f1a02f;
  margin: 0.5%;
}

.name {
  font-size: 2rem;
  margin-bottom: 0.2rem;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Editbtn {
  color: #f1a02f;
  background: #fce8ce99;
  @mixin hover {
    background-color: light-dark(#f1a02f, var(--mantine-color-dark-6));
    color: var(--mantine-color-white);
  }
  box-shadow: 0px 1px 4px 0px #00000040;
  border: #00000040;
}
